@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-side-banner{
    background-image: url('../src/assets/images/bg-sigup.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}